@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-green-1: #7cc243;
  --color-green-2: #2eb8b4;
  --color-green-3: #7abd64;
  --color-green-4: #47b9a2;
  --color-green-5: #5bb0a0;

  --color-black-1: #373d46;
  --color-black-2: #0d1b34;

  --color-gray-1: #7b8087;
  --color-gray-2: #858585;
  --color-gray-3: #f2f7ff;
  --color-gray-4: #adb2bd;
  --color-gray-5: #f2f6ff;

  --breakpoint-xl-2: 90rem; /* 1440px */
  --breakpoint-3xl: 120rem; /* 1920px */
}

@layer components {
  .text-gradient {
    @apply from-green-3 to-green-4 bg-gradient-to-b bg-clip-text text-transparent;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pt-sans), sans-serif;
}

@layer base {
  p {
    color: var(--color-gray-1);
  }

  button,
  a {
    cursor: pointer;
  }
}
